*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #230820;
    font-family: 'Poppins', sans-serif;
}
h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    display: flex;
    justify-content: center;   
    flex-direction: column;
    align-items: center;
}
.search-countries {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    
}
input {
    height: 25px;
    width: 250px;
    padding-left: 5px;
    border: none;
    outline: none;
    border: none;
    background: white;
    border: none;
    outline: none;
    font-size: inherit;
}

/* button {
    height: 25px;
    width: 50px;
}

button{
    color: #230820;;
    background: white;
    cursor: pointer;
}

button:hover {
    background: #230820;
    color: white;
} */


.list-countries {
    position: absolute;
    height: 200px;
    width: 250px;
    border: none;
    outline: none;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    top: 25px;
    overflow-y: scroll;
    /* margin-right: 4.25%; */
}


.list-countries ul li{
    list-style: none;
    cursor: pointer;
    padding: 5px
}

.hide {
    display: none;
}

.cases, .death, .recover, .name{
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
    color: white;
    margin-top: 25px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 5%;
}
.personal-sites a img {
    width: 30px;
}
.personal-div a img:hover {
    filter: hue-rotate(180deg);
}
.personal-sites {
    display: flex;
    justify-content: center;
}
.my-name {
    display: flex;
    justify-content: center;
    color:white
}