*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #230820;
    font-family: 'Poppins', sans-serif;
}
h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    display: flex;
    justify-content: center;   
    flex-direction: column;
    align-items: center;
}
.search-countries {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    
}
input {
    height: 25px;
    width: 250px;
    padding-left: 5px;
    border: none;
    outline: none;
    border: none;
    background: white;
    border: none;
    outline: none;
    font-size: inherit;
}


.list-countries {
    position: absolute;
    max-height: 150px;
    width: 250px;
    border: none;
    outline: none;
    background-color: white;
    flex-direction: column;
    display: flex;
    top: 25px;
    overflow-y: auto;
    z-index: 1;
}


.list-countries ul li{
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
.list-countries ul li:hover{
    background-color: gray;
}

.hide {
    display: none;
}

.cases, .death, .recover, .name{
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;

}
.cases {
    color: lightblue;
}
.death {
    color: red;
}
.recover {
    color: green;
}
.name {
    color: gray;
    font-size: 25px;
    font-weight: 900;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 5%;
}
.personal-sites a img {
    width: 30px;
}
.personal-sites a img:hover {
    filter: hue-rotate(180deg);
}
.personal-sites {
    display: flex;
    justify-content: center;
}
.my-name {
    display: flex;
    justify-content: center;
    color:white
}
.info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
} 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  .chart {
      margin: 50px;
      height: 200px;
  }